* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:
    linear-gradient(135deg,#2c3e50 0.2%,#1c2833 40%,#17202a 90%);
}
.create-box {
    background:
    linear-gradient(135deg,#2c3e50 0.2%,#1c2833 40%,#17202a 90%);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.upload-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 20px;
}

.upload-section img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.upload-section p {
    color: #ddd;
    font-size: 16px;
}
.button{
    display: flex;
    justify-content:space-around;
}
button {
    width: 120px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}